{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Handle"|t("twitterfeed"),
    id: 'twitterHandle',
    name: 'twitterHandle',
    instructions: "Provide a public Twitter profile handle."|t("twitterfeed"),
    value: settings.twitterHandle,
    type: 'text',
    required: true
}) }}

{{ forms.textField({
    label: "OAuth Access Token"|t("twitterfeed"),
    id: 'oauthAccessToken',
    name: 'oauthAccessToken',
    instructions: ""|t("twitterfeed"),
    value: settings.oauthAccessToken,
    type: 'text',
    required: true
}) }}

{{ forms.textField({
    label: "OAuth Access Token Secret Key"|t("twitterfeed"),
    id: 'oauthAccessTokenSecret',
    name: 'oauthAccessTokenSecret',
    instructions: ""|t("twitterfeed"),
    value: settings.oauthAccessTokenSecret,
    type: 'text',
    required: true
}) }}

{{ forms.textField({
    label: "Consumer Key"|t("twitterfeed"),
    id: 'consumerKey',
    name: 'consumerKey',
    instructions: ""|t("twitterfeed"),
    value: settings.consumerKey,
    type: 'text',
    required: true
}) }}

{{ forms.textField({
    label: "Consumer Secrey Key"|t("twitterfeed"),
    id: 'consumerSecret',
    name: 'consumerSecret',
    instructions: ""|t("twitterfeed"),
    value: settings.consumerSecret,
    type: 'text',
    required: true
}) }}

<div class="field cache-list read-only language-json">
    <div class="heading">
        <label id="tweet-in-cache-label" for="settings-tweetInCache">Default Cached Tweet</label>
    </div>
    <code><pre class="language-json">{{ craft.twitter.getLatestTweet()|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre></code>
</div>